<div class="education lead">
    <div class="container d-flex flex-column">
        <div class="university py-4">
            <p class="display-6">Education:</p>
            <h2>University:</h2>
            <p>Ivano-Frankivsk Precarpathian National University, 2013 - 2018</p>
            <p>Applied Physics <span class="text-secondary">(Master's degree)</span></p> 
        </div>
        <div class="courses py-2">
            <p class="display-6">Courses:</p>
            <h2>Sololearn</h2>
            <ul>
                <li *ngFor='let course of sololearnCourses' class="py-1">
                    {{ course.item }}
                </li>
            </ul>
            <h2>Logos IT Academy</h2>
            <ul>
                <li>Основи веб-розробки</li>
            </ul>
        </div>
    </div>
</div>