<div class="education lead">
    <div class="container d-flex flex-column">
        <div class="university my-4">
            <h2>Education:</h2>
            <h3 class="display-2">University:</h3>
            <p>Ivano-Frankivsk Precarpathian National University, 2013 - 2018</p>
            <p>Applied Physics <span>(Master's degree)</span></p> 
        </div>
        <div class="courses">
            <h2>Courses:</h2>
            <h3>Sololearn</h3>
            <ul>
                <li>React + Redux Course</li>
                <li>Javascript Tutorial</li>
            </ul>
            <h3>Logos IT Acaemy</h3>
            <ul>
                <li>Основи веб-розробки</li>
            </ul>
        </div>
    </div>
</div>