<div class="container d-flex flex-column">
    <div class="about lead my-4">
        <h2>About me:</h2>
        <p> I am interested in IT and everything in its orbit. </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Reiciendis nam vitae debitis. Temporibus ipsum sint
            officia beatae illo modi atque. Quia eligendi doloremque modi 
            odit labore. Quis modi placeat quia!</p>
    </div>
    <div class="hobby lead">
        <h2>Hobbies:</h2>
        <ul>
            <li>Reading books</li>
            <li>Gym & yoga</li>
            <li>Playing video games</li>
        </ul>
    </div>
</div>