<div class="container d-flex flex-column">
    <div class="about row justify-content-center lead my-4">
        <div class="col-11 col-md-10 col-lg-8">
        <p class="display-6">About me:</p>
        <p> I am interested in IT and everything in its orbit. </p>
        <p class="lh-base">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reiciendis nam vitae debitis. Temporibus ipsum sint
            officia beatae illo modi atque. Quia eligendi doloremque modi
            odit labore. Quis modi placeat quia!</p>
        </div>
    </div>
    <div class="hobby row justify-content-center lead">
        <div class="col-11 col-md-10 col-lg-8">
            <p class="display-6">Hobbies:</p>
            <ul>
                <li *ngFor='let hobby of hobbies' class="py-1">
                    {{ hobby }}
                </li>
            </ul>
        </div>
    </div>
</div>