<div class="container d-flex justify-content-center flex-column lead">
  <div class="skills px-5 py-2">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <p class="display-6">Skills</p>
        <div class="py-2">
          <p>HTML, CSS/SCSS, JavaScript</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="py-2">
          <p>Git</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="py-2">
          <p>SQL</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="py-2">
          <p>Adobe Photoshop</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lang px-5 py-2">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <p class="display-6">Languages:</p>
        <div class="py-2">
          <p>Ukrainian</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>
        <div class="py-2">
          <p>English</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="py-2">
          <p>Polish</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>