<div class="home d-flex justify-content-center align-items-center flex-column">
    <div class="caption lead p-3">
            <p>Yurii Shevchuk </p>
            <p>SoftServe IT Academy Trainee</p>
            <a href="mailto:yurii.shev4uk@gmail.com" class="p-2 lead"> <i class="bi bi-envelope-fill"></i></a>
            <a href="https://www.linkedin.com/in/yurii-shevchuk/" class="p-2 lead"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/YuriShevchuk" class="p-2 lead"><i class="bi bi-github"></i></a>
            <a href="tel:+380988060937" class="p-2 lead"><i class="bi bi-telephone-fill"></i></a>
    </div>
  </div>